.container{
    width: 600px;
    height: 600px;
    background-color: aqua;
    /* position: relative; */
}

.box{
    color: white;
    width: 100px;
    height: 100px;
}

.static{
    background-color: red;
    position: static;
}

.relative{
    background-color: green;
    position: relative;
    top: 100px;
    left: 200px;
}

.absolute{
    background-color: blue;
    position:absolute;
    top: 0;
    right:0;
}

.fixed{
    background-color: orange;
    /* z-index: 5; */
    position: fixed;
    top: 0;
    left: 0;
}

.sticky{
    background-color: purple;
}