*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: flex;

    /* row(Default), row-reverse, column, column-reverse */
    /* flex-direction: row;*/

    /* flex-wrap: wrap; */
    gap: 10px;
    /* row-gap: 10px; */

    flex-flow: row wrap;
}

.box{
    border: 2px solid black;
    /* margin: 10px; */
    width: 80px;
}