*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: flex;

    /* row(Default), row-reverse, column, column-reverse */
    /* flex-direction: row;*/

    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* row-gap: 10px; */

    /* flex-flow: row wrap; */

    /* flex-start(Default), flex-end, center, space-around, space-evenly, space-between */
    /* justify-content: it is a alignment of Content in horizontal direction (X-Axis) */
    justify-content: space-between;

    /* end, center, baseline */
    /* align-items: it is a alignment of Content in vertical direction (Y-Axis) */
    align-items: center;

    align-content:space-around;
}

.box{
    border: 2px solid black;
    /* margin: 10px; */
    width: 80px;
}