body{
    background-color: lightcyan;
}

@media(width <=500px){
    body{
        background-color: lightpink;
    }
}
@media(width <=300px){
    body{
        background-color: lightgreen;
    }
}

/* @media(orientation: portrait){
    body{
        background-color: lightpink;
    }
} */