*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    border: solid 2px red;
    height: 400px;
    display: grid;
    /* gap: 10px; */
    row-gap: 18px;
    column-gap: 12px;

    /* grid-template-columns: 25vw 200px 50%; */
    grid-template-columns: 200px 200px;  
    /* grid-template-rows:150px  70px 110px;  
    grid-auto-rows: 120px; */

    justify-content:baseline;

    align-content: center;
}

.box{
    border: solid 2px green;
    padding: 12px;
}