/*
    SelectorType{
        propertykey: propertyvalue; 
    }
*/

/* 1. Element Selectors */
/* p{
    color: red;
}

h2{
    color: white;
    background-color: black;
} */

/* 2. ID Selectors */
/* #pId{
    color: brown;
}

#p1Id{
    font-family: cursive;
} */

/* 3. Class Selectors  */
.pclass{
    color: green
}

